body{
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	margin:20px auto; 


}
.topmenu{
	width: 700px;
	margin: 0 auto;
	text-align: center;
	color: grey;
}
h1 {
	width: 500px;
	margin: 0 auto;
	font-size: 20px;
	padding-bottom: 8px;	
}
#top{
	background-color: grey;
	width: 3%;
	margin: 0 auto;
	
}
h2 {
	width: 480px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 10px;
	text-align: center;
	font-weight: lighter;
	font-stretch: 10px;
	color:black;

}

ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	align-content: center;

}

li {
	display: inline-block;
	padding-top: 8px;
	padding-bottom: 12px;
	margin: 0px 10px;

}

a {
	color: grey;
	text-decoration: none;
	padding-top: 8px;
	font-size: 14px;
}

.julieta figure img{
	width: 40%;
	float:left;
	padding: 0px 20px;


}

.julieta figure{
	margin:0px;
}
.bio{
margin-right:120px;
margin-left:120px;
color:black;
align-content: left;

}

.bio p{
	text-align: justify;
}

p{
	font-size: 14px;


}

footer{
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	position: relative;
	top: 10px;
	margin: 0px 100px;}


.socialmedia{
	display: inline-block;
	
}

.socialmedia img{
	height: 40px;
	width: 40px;

}
footer p{
	font-style: lighter;
	font-size: 10px;
	text-align: right;
	padding:10px

}
