body{
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	margin:20px auto;
	
}

.topmenu{
	width: 700px;
	margin: 0 auto;
	text-align: center;
	color: grey;
}
h1 {
	width: 500px;
	margin: 0 auto;
	font-size: 20px;
	padding-bottom: 8px;	
}
#top{
	background-color: grey;
	width: 5%;
	margin: 0 auto;

	}

h2 {
	width: 70%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 10px;
	font-weight: lighter;
	font-stretch: 10px;
	color:black;

}

ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	align-content: center;

}

li {
	display: inline-block;
	padding-top: 8px;
	padding-bottom: 12px;
	margin: 0px 10px;

}

a {
	color: grey;
	text-decoration: none;
	padding-top: 8px;
	font-size: 14px;
}

.travelmenu{
	margin-left: 60%;
	
}

a.subheading{
	color: black;
}


.socialmedia{
	left: 20%;
	position: fixed;
	top: 10px;
}

img{
	width: 30%;
	height:auto;
	clear:left;
}
/*.box{
	width:160px;
	height: 120px;
	margin:3px;
	margin-bottom: 10px;
	font size: 14px;
	color: purple;
	font-family: helvetica;
	display:inline-block;
	background-position: center;
	background-size:cover;
	
}*/
.places{
	margin-left: 130px;
}

figure {
	width: 250px;
	height: 250px;
	background: #fff;
	display: inline-block;
	}
.places figure img {

	/*-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;*/
	width:100%;
	height:80%;
	
}
.places figure:hover img {
	/*-webkit-filter: grayscale(0);
	filter: grayscale(0);*/
	opacity:0.5;
}	
span{
	position: relative;
	width: 300px;
	margin: 0;
	padding: 0;
	/*margin-left: 0px;*/
	font-weight: lighter;

}

footer{
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	position: relative;
	top: 10px;
	margin: 0px auto;
	width:80%;
	
}

.bottom {
	font-style: lighter;
	font-size: 10px;
	text-align: right;
	padding:10px

}






