h1 {
	width: 500px;
	margin: 0 auto;
	padding: 10px 0px 0px 0px;
	font-family: helvetica;
	text-align: center;
	color: grey;
}

h2 {
	width: 500px;
	margin: 0 auto;
	font-family: helvetica;
	border-style: solid;
	border-width: 3px;
	border-color: purple;
	padding-left: 10px;
	font-weight: lighter;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
}

a {
	color: grey;
	text-decoration: none;
	padding-right: 8px;
	font-size: 14px;
}

body{
	width: 600px;
	height:700px;
	margin: 0 auto;
	font-family: helvetica;
	color: grey;
	text-align: center;
	font-size: 14px;
}

.socialmedia{
	left: 20%;
	position: fixed;
	top: 10px;
}

img{
	width: 30%;
	height:auto;
	clear:left;
}
.box{
	width:160px;
	height: 120px;
	margin:3px;
	margin-bottom: 10px;
	font size: 14px;
	color: purple;
	font-family: helvetica;
	display:inline-block;
	background-position: center;
	background-size:cover;
	
}

.nyc{
	background-image:url("../img/NYC.jpg");
	background-size: 240px;
}

.barcelona{
	background-image:url("../img/BCN.jpg");
	background-size: 225px;
}

.sanfrancisco{
	background-image: url("../img/sanfrancisco.jpg");
	background-size: 165px;
}







